/todo.db

# minio
/data/storage/*
!/data/storage/litetodo-db/
/data/storage/litetodo-db/*
!/data/storage/litetodo-db/.keep

# db
/data/db/

# Terraform
/terraform/terraform.tfvars
/terraform/.terraform/
/terraform/terraform.tfstate*
